* {
    box-sizing: border-box;
}

// Move-header

.move {
    .main {
        padding-left: 6.944vw;
        padding-right: 6.25vw;
        margin-bottom: 3.472vw;
        width: 100vw;
        height: 11.806vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(./../../../../public/chemiverse_img/bg-quiz-wrap.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 90%;
    }
    .mainTxt {
        display: flex;
        align-items: center;
    }
    .mainTxt span {
        display: inline-block;
        color: #fff;
        &:first-child {
            font-size: 3.333vw;
            font-weight: 700;
            margin-right: 2.083vw;
        }
        &:last-child {
            font-size: 0.833vw;
            line-height: 1.5;
            font-weight: 500;
        }
    }
    .mainImg {
        width: 15.833vw;
        height: auto;
    }
}

// Move.Inner

.moveInner {
    width: 69.444vw;
    margin: 4vw auto;

    .platformInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: left;
        margin: 2vw 1vw;

        .platformLogo {
            width: 5.069vw;
            height: 4.306vw;
        }
        .platformTitle {
            font-size: 2.778vw;
            text-align: center;
            margin-left: 1.5vw;
        }
    }

    .classWrap {
        width: 69.444vw;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .itemboxs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20.833vw;
            border: 0.069vw solid #bcbed3;
            border-radius: 0.694vw;
            margin: 1.036vw;
            overflow: hidden;
            padding: 1vw;

            .moveClassImg {
                width: 20.713vw;
                height: 18vw;
                border-radius: 0.694vw;
                img {
                    width: 100%;
                    height: 18vw;
                }
            }
            .classDes {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: rgb(56, 56, 56);
            }

            .classname {
                width: 100%;
                font-size: 1.4vw;
                font-weight: 600;
                text-align: left;
                h2 {
                    display: block;
                    padding: 1vw 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .classinfobox {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
                .classinfotitle {
                    font-size: 1.2vw;
                    line-height: 1.2vw;
                    font-weight: 600;
                    padding: 0.36vw 0;
                    .classinfo {
                        font-weight: 500;
                        font-size: 1.15vw;
                        line-height: 1.2vw;
                    }
                }
            }
            .buttonarea {
                margin-top: 1.5vw;
                display: flex;
                align-self: flex-end;
                justify-content: center;
                align-items: center;
            }
            .copybutton {
                cursor: pointer;
                color: #6f76c1;
                font-size: 1.389vw;
            }
            .url {
                display: none;
            }
            .urlClick {
                margin-right: 1.3vw;
                font-size: 1.7vw;
                line-height: 1.7vw;
                align-items: center;
                margin-left: 2vw;
            }
            .urlNoneClick {
                margin-right: 0.7vw;
            }
            .urlcopy {
                font-size: 0.833vw;
            }
            .button {
                width: 8.333vw;
                height: 2.431vw;
                border: 1.2px solid #6f76c1;
                color: #6f76c1;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .move {
        .main {
            padding-left: 6.944vw;
            padding-right: 6.25vw;
            margin-bottom: 0;
            width: 100vw;
            height: 20vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: url("./../../../../public/chemiverse_img/bg-quiz-wrap.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 90%;
        }
        .mainTxt {
            display: flex;
            align-items: center;
        }
        .mainTxt span {
            display: inline-block;
            color: #fff;
            &:first-child {
                font-size: 6vw;
                font-weight: 700;
                margin-right: 2.083vw;
            }
            &:last-child {
                display: none;
            }
        }
        .mainImg {
            width: 30vw;
            height: auto;
        }
    }

    .moveInner {
        .classWrap {
            flex-direction: column;
        }
    }
}
