* {
  box-sizing: border-box;
}

.move .main {
  padding-left: 6.944vw;
  padding-right: 6.25vw;
  margin-bottom: 3.472vw;
  width: 100vw;
  height: 11.806vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./../../../../public/chemiverse_img/bg-quiz-wrap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}
.move .mainTxt {
  display: flex;
  align-items: center;
}
.move .mainTxt span {
  display: inline-block;
  color: #fff;
}
.move .mainTxt span:first-child {
  font-size: 3.333vw;
  font-weight: 700;
  margin-right: 2.083vw;
}
.move .mainTxt span:last-child {
  font-size: 0.833vw;
  line-height: 1.5;
  font-weight: 500;
}
.move .mainImg {
  width: 15.833vw;
  height: auto;
}

.moveInner {
  width: 69.444vw;
  margin: 4vw auto;
}
.moveInner .platformInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: left;
  margin: 2vw 1vw;
}
.moveInner .platformInfo .platformLogo {
  width: 5.069vw;
  height: 4.306vw;
}
.moveInner .platformInfo .platformTitle {
  font-size: 2.778vw;
  text-align: center;
  margin-left: 1.5vw;
}
.moveInner .classWrap {
  width: 69.444vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.moveInner .classWrap .itemboxs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.833vw;
  border: 0.069vw solid #bcbed3;
  border-radius: 0.694vw;
  margin: 1.036vw;
  overflow: hidden;
  padding: 1vw;
}
.moveInner .classWrap .itemboxs .moveClassImg {
  width: 20.713vw;
  height: 18vw;
  border-radius: 0.694vw;
}
.moveInner .classWrap .itemboxs .moveClassImg img {
  width: 100%;
  height: 18vw;
}
.moveInner .classWrap .itemboxs .classDes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(56, 56, 56);
}
.moveInner .classWrap .itemboxs .classname {
  width: 100%;
  font-size: 1.4vw;
  font-weight: 600;
  text-align: left;
}
.moveInner .classWrap .itemboxs .classname h2 {
  display: block;
  padding: 1vw 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moveInner .classWrap .itemboxs .classinfobox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.moveInner .classWrap .itemboxs .classinfobox .classinfotitle {
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-weight: 600;
  padding: 0.36vw 0;
}
.moveInner .classWrap .itemboxs .classinfobox .classinfotitle .classinfo {
  font-weight: 500;
  font-size: 1.15vw;
  line-height: 1.2vw;
}
.moveInner .classWrap .itemboxs .buttonarea {
  margin-top: 1.5vw;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}
.moveInner .classWrap .itemboxs .copybutton {
  cursor: pointer;
  color: #6F76C1;
  font-size: 1.389vw;
}
.moveInner .classWrap .itemboxs .url {
  display: none;
}
.moveInner .classWrap .itemboxs .urlClick {
  margin-right: 1.3vw;
  font-size: 1.7vw;
  line-height: 1.7vw;
  align-items: center;
  margin-left: 2vw;
}
.moveInner .classWrap .itemboxs .urlNoneClick {
  margin-right: 0.7vw;
}
.moveInner .classWrap .itemboxs .urlcopy {
  font-size: 0.833vw;
}
.moveInner .classWrap .itemboxs .button {
  width: 8.333vw;
  height: 2.431vw;
  border: 1.2px solid #6F76C1;
  color: #6F76C1;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .move .main {
    padding-left: 6.944vw;
    padding-right: 6.25vw;
    margin-bottom: 0;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./../../../../public/chemiverse_img/bg-quiz-wrap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
  }
  .move .mainTxt {
    display: flex;
    align-items: center;
  }
  .move .mainTxt span {
    display: inline-block;
    color: #fff;
  }
  .move .mainTxt span:first-child {
    font-size: 6vw;
    font-weight: 700;
    margin-right: 2.083vw;
  }
  .move .mainTxt span:last-child {
    display: none;
  }
  .move .mainImg {
    width: 30vw;
    height: auto;
  }
}/*# sourceMappingURL=move.module.css.map */